# Supabase Integration Settings (Client-side)
# Isi variabel di bawah ini dengan URL dan Anon Key dari dashboard proyek Supabase Anda
VITE_SUPABASE_URL=https://oorgridwfydkcinpfsbu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3EFfTXb5CBfrRejux1bZig_kXZ-LFsg
